@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import 'root.css';

*,::before, ::after{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html, body{
	--webkit-font-smoothing: antialiased !important;
	font-family: 'calibri', sans-serif;
}

/* Container do Menu da Aplicação */
.nav{
	z-index: 3000;
	width: 100%;
	padding: 0px;
	background-color: transparent;
	border-bottom: 1px solid #f1f1f1;
	position: fixed;
}

.nav .space{
	display: flex;
	justify-content: space-between;
}

/*Icone do Menu*/
.nav-brend{
	border-right:1px solid #f1f1f1;
	padding: 10px;
}

.nav-brend span{
	display: flex;
	color:var(--azulClaro);
	font-weight: bold;
	font-size: 1.8rem;
	text-shadow: 0px 2px 1px white;
}

/* Menu da Aplicação */
.navbar-nav .nav-menu{
	display: flex;
	padding: 10px;
}

.navbar-nav .nav-menu .nav-items{
	list-style: none;
	padding: 10px;
	transition: .3s ease-in-out;
}

.navbar-nav .nav-menu .nav-items:nth-child(5){
	background-color: var(--azulClaro);
}

.navbar-nav .nav-menu .nav-items:nth-child(5):hover{
	background-color: var(--azulMaisEscuro);
}


.navbar-nav .nav-menu .nav-items .nav-link{
	text-decoration: none;
	padding: 20px;
	font-size: 1rem;
	color:#fff;
	text-shadow: 0px 0px 2px var(--azulEscuro);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
	font-weight: 600;
}

/* Contatos flutuante */

.contatos{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
	z-index: 2700;
	position:fixed;
	background-color:transparent;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
	opacity: .8;
}

.contatos p{
	color:#f1f1f1;
	text-shadow: 0px 0px 3px black;
}

/*Menu responsivo*/

.bars{
	display: none;
	cursor: pointer;
	padding: 10px;
}

.bars div{
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin-bottom: 4px;
}

/* Nosso leyalt */
.content{
	width: 100%;
	height: 600px;
	background-color: var(--azulMaisEscuro);
	background-image: url('../photoshop/cam02.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.sociais{
	position: absolute;
	transform: translate(-50%, -50%);
	top:75%;
	left: 2%;
}

.sociais ul li{
	list-style: none;
	padding: 3px;
}

.sociais ul li a{
	text-decoration: none;
	color:#f1f1f1;
	font-size: 1.2rem;
}

.info{
	width: 50%;
	position: absolute;
	transform: translate(50%, 50%);
	top:20%;
	left:0%;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info h3{
	color:var(--branco);
	font-family: 'Cinzel', serif;
	font-size: 1.8rem;
	text-shadow: 0px 0px 1px var(--branco);
	text-transform: uppercase;
}

.info p{
	padding: 15px;
	text-align: center;
	color:white;
	font-family: 'roboto', sans-serif;
	font-size: 1.2rem;
}

/* Infeites */

.infants{
	height: 50%;
	position: absolute;
	transform: translate(0%, -50%);
	width: 35px;
	background-color: transparent;
	border-right:1px solid var(--branco);
	top:39.3%;
	padding: 5px;
	padding-top: 50px;
}

.infants div:nth-child(1) i{
	width: 20px;
	height: 20px;
	font-size: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:10px;
	padding: 10px;
	color:#f1f1f1;
}

.infants div:nth-child(1) i:nth-child(1){
	font-size: .8rem;
	border:2px solid #f1f1f1;
	border-radius: 100%;
}

.btn{
	border:none;
	font-size: 1.2rem;
	border-radius: 2px;
	cursor: pointer;
	transition:.3s ease-in-out;
	padding: 20px 100px;
	color:#000;
	background: transparent;
	border:1px solid black;
	margin-top: 20px;
}

.btn:hover{
	opacity: .7;
}

.btn-primary{
	width: 50px;
	height: 50px;
	color:#fff;
	border:none;
	border:2px solid #f1f1f1;
	border-radius: 100%;
	padding: 0px;
	font-size: 2rem;	
}

.btn-default{
	color:#fff;
	background-color: grey;
	border:none;	
}



.indicator{
	grid-area: indicator;
	color:var(--azulClaro);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 0px .5px var(--azulClaro);
}

.indicator i{
	padding: 10px;
	font-size: 1.3rem;
	cursor: pointer;
}

.transp .fundo{
	display: none;
	font-size: 7rem;
	text-transform: uppercase;
	position: absolute;
	color: var(--azulClaro);
	opacity: .3;
	transform: translate(-50%, -50%) rotate(330deg);
	left: 50%;
	top:40%;
}

/*apresentação*/

.apresentacao{
	display: flex;
	padding: 50px;
	height: 500px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.apresentacao .informacao{
	padding: 30px;
	width: 50%;
}

.apresentacao .informacao h3{
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	padding-bottom: 20px;
}

.apresentacao .informacao p{
	font-size: 1rem;
	font-family: 'roboto', sans-serif;
	opacity: .6;
}

/* Corpo do site */

.corpo{
	background-color: #f1f1f1;
	padding: 5%;
}

.body{
	margin:auto 20%;
	margin-top: 100px;
}

.body .card{
	display: flex;
	margin-bottom: 100px;
	background-color: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: inset 0px 0px 4px 0px black;
}

.body .card .card-text{
	font-family: 'roboto', sans-serif;
	width: 300px;
	background-color: transparent;
	padding: 20px;
	width: 100%;
	background-color: var(--azulMaisEscuro);
}

.body .card .card-text .card-title{
	color:white;
	text-shadow: 0px 0px 1px var(--azulClaro);
	text-transform: uppercase;
}

.body .card .card-text .card-content{
	width: 300px;
	margin-top: 40px;
	padding: 10px;
	text-align: left;
	font-size: 1rem;
	color:grey;
	font-family: 'roboto', sans-serif;
	font-weight: 400;
	border-left: 1px solid var(--azulClaro);
	height: 100%;
}

.body .card .card-img img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	cursor: pointer;
	transition: .5s ease-in-out;
}

/* Pagina de Contato */

.form {
	width: 100%;
}

.from-contact{
	margin: auto 20%;
	background-color: #f1f1f1;
}

.from-contact .container{
	margin-top:20%;
	margin-bottom:20%;
}

.from-contact .container .group{
	display: flex;
	padding: 20px;
}

.from-contact .container .group .form{
	margin-left: 10%;
}

.from-contact .container .group .location p{
	color:var(--azulEscuro);
}
/* Input-group */

.input-group{
	display: flex;
	margin: 10px;
	width: 100%;
}

.input-group .input-group-prepend{
	width: 40px;
	height: 30px;
	background-color: var(--azulClaro);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 40px;
}


.input-group .input-group-prepend .input-group-text{
	color:#f1f1f1;
}

.form-control{
	width: 100%;
	border:none;
	border:1px solid grey;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
	padding-left: 10px;
	font-family: 'roboto', sans-serif;
	transition: .5s ease-in-out;
}

.form-text{
	width: 100%;
	border:none;
	border:1px solid grey;
	border-radius: 3px; 
	padding: 10px;
	height: 150px;
	margin-left: 2%;
	font-family: 'roboto', sans-serif;
	transition: .2s ease-in-out;
}

.form-control:focus,
.form-text:focus{
	border:1px solid transparent;
	box-shadow: 0px 0px 3px var(--azulClaro);
}

.btn-form{
	font-size: 1rem;
	padding: 10px;
	width: 100%;
	margin-left: 2%;
	background-color: var(--azulClaro);
	color:#f1f1f1;
	border:transparent;
}

.from-contact .container .title h1{
	padding-top: 30px;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	padding-bottom: 20px;
	text-align: center;
}

/* Localização da pagina de contato */

.local{
	display: flex;
	padding: 20px;
	font-family: 'roboto', sans-serif;
}

.local div:nth-child(1){
	padding-right: 20px;
}

.local div:nth-child(1) i{
	font-size: 3rem;
	color: var(--azulClaro);
}

/* Section Informativo */

.informativo{
	margin:auto 20%;
	margin-top: 10%;
	margin-bottom: 10px;
}

.informativo .informa{
	display: flex;
}

.informativo .informa div{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.informativo .informa div div:nth-child(1){
	border:2px solid var(--azulClaro);
	border-radius: 3px;
	color: var(--azulClaro);
	width: 120px;
	height: 120px;
	font-size: 	2rem;
	transform: rotate(135deg);
	margin-bottom: 35px;
	transition: .3s ease-in-out;
	cursor: pointer;
}

.informativo .informa div div:nth-child(1):hover{
	background-color: var(--azulClaro);
	color:white;
	transform: rotate(135deg) scale(1.2);
}

.informativo .informa div div:nth-child(1) i{
	transform: rotate(225deg);
}

.informativo .informa div div:nth-child(2) p{
	font-family: 'roboto', sans-serif;
	padding: 20px;
	color:var(--azulEscuro);
}

.btn-int{
	padding: 10px 30px;
	font-size: 1rem;
	color:white;
	border:none;
	background-color: var(--azulClaro);
}

/* Colaboradores */

.colaboradores{
	width: 100%;
	background-color: #f1f1f1;
}

.colaboradores h1{
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	text-align: center;
}

.colaboradores .func{
	margin: auto 20%;
	padding-bottom: 10%;
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
}

.colaboradores .func .coll{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.colaboradores .func .coll .img .prof{
	width: 200px;
	height: 200px;
	object-fit: cover;
	object-position: center;
	border-radius:100%;
}

.colaboradores .func .coll .bandeira{
	width: 20px;
}

.colaboradores .func .coll .descriptions{
	color:white;
	padding: 20px;
	text-align: center;
}

.colaboradores .func .coll .descriptions h3{
	color: var(--azulEscuro);
	padding: 5px;
}

.colaboradores .func .coll .descriptions p:nth-child(2){
	margin: 5px 0px 5px 0px;
	color: var(--marron);
	padding: 5px;
}

.colaboradores .func .coll .descriptions p:nth-child(3){
	background-color: var(--marron);
	padding: 5px;	
}

@media only screen and (max-width: 780px){
	.bars{
		display: block;
	}

	.navbar-nav{
		display: none;
		transition: .5s ease-in-out;
	}

	.toggle{
		margin-top: 38px;
		display: block;
	}

	.navbar-nav .nav-menu{
		width: 100%;
		z-index: 2000;
		display: block;
		position: absolute;
		transform: translate(-100%, 18%);
		left: 100%;
		background-color: var(--azulMaisEscuro);
		text-align: center;
		overflow: hidden;
		transition: .5s ease-in-out;
	}

	.navbar-nav .nav-menu .nav-items{
		margin-bottom: 20px;
	}

	.nav-brend{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		border:none;
	}

	.port{
		display: none;
	}

	.transp .iluster{
		display: none;
	}

	.transp .fundo{
		display: none;
	}

	.info{
		top:10%;
	}

	/* Apresentação */

	.apresentacao{
		margin-top: 50px;
		flex-direction: column;
	}

	.apresentacao .informacao{
		width: 100%;
	}

	.sociais{
		left: 95%;
	}

	.body .card{
		flex-direction: column;
	}

	.body .card .card-img img{
		width: 100%;
	}

	.from-contact .container .group{
		display: flex;
		padding: 20px;
		flex-direction: column;
	}

	.location iframe{
		width: 100%;
	}

	.from-contact .container .group .form{
		margin-left: -3%;
	}

	.informativo .informa{
		flex-direction: column;
	}

	.informativo .informa div{
		margin-bottom: 	50px;
	}

	.colaboradores .func{
		flex-direction:column;
		justify-content: end;
	}

	.colaboradores .func .coll{
		margin-top: 100px;
	}
}

@media(max-width: 514px){
	.apresentacao{
		margin-top: 100px;
	}

	.body{
		margin:auto 2%;
		margin-top: 100px;
	}

	.infants{
		border:none;
	}

	.from-contact{
		margin: auto 4%;
		background-color: #f1f1f1;
	}
}