@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'root.css';

*,::before, ::after{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

html, body{
	--webkit-font-smoothing: antialiased !important;
	font-family: 'calibri', sans-serif;
}

/* Container do Menu da Aplicação */
.nav{
	z-index: 3000;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: transparent;
	border-bottom: 1px solid var(--branco);
	position: fixed;
}

/*Icone do Menu*/
.nav-brend span{
	display: flex;
	color:var(--azulClaro);
	font-weight: bold;
	font-size: 1.8rem;
	text-shadow: 0px 2px 1px white;
}

/* Menu da Aplicação */
.navbar-nav .nav-menu{
	display: flex;
}

.navbar-nav .nav-menu .nav-items{
	list-style: none;
	padding: 10px;
	transition: .3s ease-in-out;
}

.navbar-nav .nav-menu .nav-items:nth-child(5){
	background-color: var(--azulClaro);
}

.navbar-nav .nav-menu .nav-items:nth-child(5):hover{
	background-color: var(--azulMaisEscuro);
}


.navbar-nav .nav-menu .nav-items .nav-link{
	text-decoration: none;
	padding: 20px;
	font-size: 1rem;
	color:#fff;
	text-shadow: 0px 0px 2px var(--azulEscuro);
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	text-shadow: 1px 1px 1px black;
}

/* Contatos flutuante */

.contatos{
	display: flex;
	justify-content: space-around;
	padding: 10px;
	width: 100%;
	z-index: 2700;
	position:fixed;
	top:10%;
	background-color:transparent;
	border-bottom: 1px solid var(--branco);
}

.contatos p{
	color:#f1f1f1;
}

/*Menu responsivo*/

.bars{
	display: none;
	cursor: pointer;
}

.bars div{
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin-bottom: 4px;
}

/* Nosso leyalt */
.content{
	width: 100%;
	height: 600px;
	background-color: var(--azulMaisEscuro);
	background-image: url('../img/nav02_alt.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.sociais{
	position: absolute;
	transform: translate(-50%, -50%);
	top:70%;
	left: 97%;
}

.sociais ul li{
	list-style: none;
	padding: 3px;
}

.sociais ul li a{
	text-decoration: none;
	color:var(--marron);
	font-size: 1.5rem;
}

.info{
	width: 50%;
	position: absolute;
	transform: translate(50%, 50%);
	top:20%;
	left:0%;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info p{
	color:#fff;
	font-size: 1.5rem;
	text-shadow: 0px 0px 2px var(--azulMaisEscuro);
	text-transform: uppercase;
}

.btn{
	border:none;
	font-size: 1.2rem;
	border-radius: 2px;
	cursor: pointer;
	transition:.3s ease-in-out;
	padding: 20px 100px;
	color:#000;
	background: transparent;
	border:1px solid black;
	margin-top: 20px;
}

.btn:hover{
	opacity: .7;
}

.btn-primary{
	width: 100px;
	height: 100px;
	color:#fff;
	border:none;
	border:2px solid #f1f1f1;
	border-radius: 100%;
	padding: 10px;
	font-size: 2rem;	
}

.btn-default{
	color:#fff;
	background-color: grey;
	border:none;	
}



.indicator{
	grid-area: indicator;
	color:var(--azulClaro);
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 0px .5px var(--azulClaro);
}

.indicator i{
	padding: 10px;
	font-size: 1.3rem;
	cursor: pointer;
}

.port img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 2px;
	border:1px solid var(--marron);
}

.transp .fundo{
	display: none;
	font-size: 7rem;
	text-transform: uppercase;
	position: absolute;
	color: var(--azulClaro);
	opacity: .3;
	transform: translate(-50%, -50%) rotate(330deg);
	left: 50%;
	top:40%;
}

/*apresentação*/

.apresentacao{
	display: flex;
	padding: 50px;
	height: 500px;
	justify-content: center;
	align-items: center;
}

.apresentacao .informacao{
	padding: 30px;
	width: 50%;
}

.apresentacao .informacao h3{
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	padding-bottom: 20px;
}

.apresentacao .informacao p{
	font-size: 1rem;
	font-family: 'roboto', sans-serif;
	opacity: .6;
}

/* Corpo do site */

.corpo{
	background-color: #f1f1f1;
	padding: 5%;
}

.body{
	margin:auto 20%;
	margin-top: 100px;
}

.body .card{
	display: flex;
	padding: 0px;
	box-shadow: 0px 30px 60px 0px black;
	margin-bottom: 100px;
	border-radius: 3px;
	overflow: hidden;
}

.body .card .card-text{
	font-family: 'roboto', sans-serif;
	width: 300px;
	background-color: var(--azulEscuro);
	padding: 20px;
	width: 100%;
}

.body .card .card-text .card-title{
	color:white;
	text-shadow: 0px 0px 1px var(--azulClaro);
}

.body .card .card-text .card-content{
	margin-top: 40px;
	padding: 10px;
	text-align: left;
	font-size: 1rem;
	color:var(--branco);
}

.body .card .card-img{
	width: 100%;
	overflow: hidden;
}

.body .card .card-img img{
	width: 400px;
	height: 400px;
	object-fit: cover;
	cursor: pointer;
	transition: .5s ease-in-out;
}


.body .card .card-img:hover img{
	transform: scale(1.2);
}

/* Linha do corpo da nossa pagina */

.transp .linha{
	width: 5px;
	height: 1250px;
	background-color: transparent;
	border:1px solid grey;
	border-radius:3px;
	position: absolute;
	transform: translate(-50%, -50%;);
	top:1350px;
	left: 7%;
	display: flex;
}

.transp .linha i{
	padding-right: 20px;
	color: var(--azulClaro);
	font-size: 1.1rem;
}

.transp .linha i::after{
	content: '';
	width: 20px;
	height: 20px;
	border:3px solid var(--marron);
	border-radius: 100%;
	position: absolute;
	transform: translate(-10%, -10%);
	left: 14.4%;
	top:0.20%;
}

.transp .linha .item{
	display: flex;
	color:grey;
	height: 300px;
	width: 210px;
	position: absolute;
	padding-left: 30px;
	position: absolute;
	transform: translate(-16%, -10%);
	left:-50%;
}

.transp .linha .item p:nth-child(2){
	margin-bottom: 10px;
}


.item1{ top:100px; }
.item2{ top:600px; }
.item3{ top:1000px; }

/* Pagina de Contato */

.form {
	width: 100%;
}

.from-contact{
	margin: auto 20%;
	background-color: #f1f1f1;
}

.from-contact .container{
	margin-top:20%;
	margin-bottom:20%;
}

.from-contact .container .group{
	display: flex;
	padding: 20px;
}

.from-contact .container .group .form{
	margin-left: 10%;
}

.from-contact .container .group .location p{
	color:var(--azulEscuro);
}
/* Input-group */

.input-group{
	display: flex;
	margin: 10px;
	width: 100%;
}

.input-group .input-group-prepend{
	width: 40px;
	height: 30px;
	background-color: var(--azulClaro);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 40px;
}


.input-group .input-group-prepend .input-group-text{
	color:#f1f1f1;
}

.form-control{
	width: 100%;
	border:none;
	border:1px solid grey;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 
	padding-left: 10px;
	font-family: 'roboto', sans-serif;
	transition: .5s ease-in-out;
}

.form-text{
	width: 100%;
	border:none;
	border:1px solid grey;
	border-radius: 3px; 
	padding: 10px;
	height: 150px;
	margin-left: 2%;
	font-family: 'roboto', sans-serif;
	transition: .2s ease-in-out;
}

.form-control:focus,
.form-text:focus{
	border:1px solid transparent;
	box-shadow: 0px 0px 3px var(--azulClaro);
}

.btn-form{
	font-size: 1rem;
	padding: 10px;
	width: 100%;
	margin-left: 2%;
	background-color: var(--azulClaro);
	color:#f1f1f1;
	border:transparent;
}

.from-contact .container .title h1{
	padding-top: 30px;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	padding-bottom: 20px;
	text-align: center;
}

/* Localização da pagina de contato */

.local{
	display: flex;
	padding: 20px;
	font-family: 'roboto', sans-serif;
}

.local div:nth-child(1){
	padding-right: 20px;
}

.local div:nth-child(1) i{
	font-size: 3rem;
	color: var(--azulClaro);
}

/* Section Informativo */

.informativo{
	margin:auto 20%;
	margin-top: 10%;
	margin-bottom: 10px;
}

.informativo .informa{
	display: flex;
}

.informativo .informa div{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.informativo .informa div div:nth-child(1){
	border:2px solid var(--azulClaro);
	border-radius: 3px;
	color: var(--azulClaro);
	width: 120px;
	height: 120px;
	font-size: 	2rem;
	transform: rotate(135deg);
	margin-bottom: 35px;
	transition: .3s ease-in-out;
	cursor: pointer;
}

.informativo .informa div div:nth-child(1):hover{
	background-color: var(--azulClaro);
	color:white;
	transform: rotate(135deg) scale(1.2);
}

.informativo .informa div div:nth-child(1) i{
	transform: rotate(225deg);
}

.informativo .informa div div:nth-child(2) p{
	font-family: 'roboto', sans-serif;
	padding: 20px;
	color:var(--azulEscuro);
}

.btn-int{
	padding: 10px 30px;
	font-size: 1rem;
	color:white;
	border:none;
	background-color: var(--azulClaro);
}

/* Colaboradores */

.colaboradores{
	width: 100%;
	background-color: #f1f1f1;
}

.colaboradores h1{
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 2rem;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	margin-bottom: 10px;
	color:white;
	text-shadow: 0px 0px 2px black;
	text-align: center;
}

.colaboradores .func{
	margin: auto 20%;
	padding-bottom: 10%;
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
}

.colaboradores .func .coll .img .prof{
	width: 250px;
	height: 250px;
	object-fit: cover;
	object-position: center;
	border-radius:100%;
}

.colaboradores .func .coll .bandeira{
	width: 20px;
}

.colaboradores .func .coll .descriptions{
	color:white;
	padding: 20px;
}

.colaboradores .func .coll .descriptions::before{
	content: '';
	width: 150px;
	height: 150px;
	background-color: #f1f1f1;
	position: absolute;
	transform: translate(120%, 0%) rotate(-160deg);
}

.colaboradores .func .coll .descriptions h3{
	background-color: var(--azulEscuro);
	padding: 5px;
}

.colaboradores .func .coll .descriptions p:nth-child(2){
	margin: 5px 0px 5px 0px;
	background-color: var(--marron);
	padding: 5px;
}

.colaboradores .func .coll .descriptions p:nth-child(3){
	background-color: var(--marron);
	padding: 5px;	
}

@media(max-width: 780px){
	.bars{
		display: block;
	}

	.navbar-nav{
		display: none;
		transition: .5s ease-in-out;
	}

	.toggle{
		display: block;
	}

	.navbar-nav .nav-menu{
		width: 100%;
		z-index: 2000;
		display: block;
		position: absolute;
		transform: translate(-100%, 18%);
		left: 100%;
		background-color: var(--azulMaisEscuro);
		text-align: center;
		overflow: hidden;
		transition: .5s ease-in-out;
	}

	.navbar-nav .nav-menu .nav-items{
		margin-bottom: 20px;
	}

	.nav-brend{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.port{
		display: none;
	}

	.transp .iluster{
		display: none;
	}

	.transp .fundo{
		display: none;
	}

	.info{
		width: 60%;
		top:40%;
		left: 50%;
	}

	.btn{
		padding: 10px 20%;
	}

	/* Apresentação */

	.apresentacao{
		margin-top: 50px;
		flex-direction: column;
	}

	.apresentacao .informacao{
		width: 100%;
	}

	.sociais{
		left: 95%;
	}

	.body .card{
		flex-direction: column;
	}

	.body .card .card-img img{
		width: 100%;
	}

	.from-contact .container .group{
		display: flex;
		padding: 20px;
		flex-direction: column;
	}

	.location iframe{
		width: 100%;
	}

	.from-contact .container .group .form{
		margin-left: -3%;
	}

	.informativo .informa{
		flex-direction: column;
	}

	.informativo .informa div{
		margin-bottom: 	50px;
	}

	.colaboradores .func{
		flex-direction:column;
		justify-content: end;
	}

	.colaboradores .func .coll .descriptions::before{
		transform: translate(130%, -10%) rotate(-160deg);
	}
}

@media(max-width: 414px){
	.apresentacao{
		margin-top: 100px;
	}

	.body{
		margin:auto 2%;
		margin-top: 100px;
	}
}